
.container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}
.container   {
    border: 2px solid rgb(114, 153, 135);
    background-color: rgb(203, 248, 203);
    border-radius: 10px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
   
    
}

.type {
    margin: auto;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
}

.quality {
    text-align: center;
    padding: 20px;
    margin: auto;
    
}
.price{
    margin-left: 20px;
    
}

.submit >input {
    background-color: rgb(98, 111, 107);
    color: white;
    
   
    
}
.submit{
    margin-top: 100px;
 
}
input {
    padding: 3px;
    font-size: 20px;
    border-radius: 5px;
    width: 180px;
    text-align: center;
}
